<!-- This is the universal header -->
<div class="headerLogoText">
		<img ng-click='logout()' class="logoHeader" src="assets/img/SelfieWarsIcon.png">
		<p class="logoText">Selfie Wars</p>

</div>

<!-- Competition Box with Action Buttons -->
<!-- Text and Prize -->	
<div class="challengeText"> 
	<p class="headerText">Marcato Hackathon</p>
	<p class="bodyText">Take your shot at:</p>
	<p class="prizeText">A slice of pizza!</p>

  <!-- Buttons -->
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div id="postWrapper" class="btn-group" role="group">
     <button onclick="postButton()" type="button" class="btn btn-default buttonPost">Post</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default buttonVote">Vote</button>
    </div>
  </div>
</div>