<!-- This is view container for all screens -->
<div class="viewContainer">
	<div class="entryText"> 
		<p class="headerText">Marcato Selfie Challenge</p>
		<p class="bodyText">Take a shot @:</p>
		<img src="http://lorempixel.com/400/200">
	</div>

	<div class="btn-group btn-group-justified" role="group" aria-label="...">
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default">Post</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default">Vote</button>
	  </div>
	</div>
</div>