<!-- This is the universal header -->
<div class="headerLogoText">
	<img class="logoHeader" src="assets/img/SelfieWarsIcon.png">
	<p class="logoText">Selfie Wars</p>	
</div>

<!-- Leaderboard -->
<!-- List of Top 5 Selfies -->
<div class="leaderboard">
	<!-- Leaderboard Table -->
	<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Points</th>
  </tr>
  <tr>
    <td><img src="assets/img/placeholder.jpg"></td>
    <td>John Smith</td>
    <td>19</td>
  </tr>
	</table>

<!--
	<div> 
		<img id="0" src="assets/img/placeholder.jpg">
		<p class="nameText">John Shark</p>
		<p class="pointsText">19</p>
	</div> -->
</div>