<!-- This is the universal header -->
<div class="headerLogoText">
	<img class="logoHeader" src="assets/img/SelfieWarsIcon.png">
	<p class="logoText">Selfie Wars</p>	
</div>

<!-- Leaderboard -->
<!-- List of Top 5 Selfies -->
<div class="leaderboard">
	<h1 class="leaderBoardTitle">Leaderboard</h1>
	<!-- Leaderboard Table -->
	<table>
  <tr>
    <th class="tableText">Photos</th>
    <th class="tableText">Name</th>
    <th class="tableText">Points</th>
  </tr>
  <tr>
    <td class="tablePhoto"><img src="assets/img/placeholder.jpg" class="shrinkPhoto"></td>
    <td class="tableText">John Smith</td>
    <td class="tableText">19</td>
  </tr>
	</table>

</div>