<!-- This is the main container -->
<div class="container-fluid mainContainer">

<!-- Main image placement -->
<img  ng-click='logout()' class="logoLarge" src="assets/img/SelfieWarsIcon.png">


<!-- Main text placement -->
<p class="mainText">Selfie Wars</p>

<!-- Twitter button -->
<div class="row">
	<div class="col-xs-12 twitterLogin">

		<form ng-submit="login(user)">

			<div class="input-group">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
				</div>
				<input type="email" ng-model="user.email" placeholder="Email" class="form-control" required>
			</div><br>

			<div class="input-group">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
				</div>
				<input type="password" ng-model="user.password" placeholder="Password" class="form-control" required>
			</div><br>

			<input type="submit" value="Login" class="btn btn-info">
		</form>

	</div>
</div>