<!-- This is the main container -->
<div class="container-fluid mainContainer">

<!-- Main image placement -->
<img  ng-click='logout()' class="logoLarge" src="assets/img/SelfieWarsIcon.png">


<!-- Main text placement -->
<p class="mainText">Selfie Wars</p>

<!-- Twitter button -->
<div class="row">
	<div class="col-xs-12 twitterLogin" ng-click="go('/entry')">			
		<a href="" ng-click='login("twitter")'>
			<i id="twitter-signin-btn" class="fa fa-twitter fa-4x"></i>
			<p class="loginSubText">Login</p>
		</a>
	</div>
</div>