<!-- This is the universal header -->
<div class="headerLogoText">
	<img class="logoHeader" src="assets/img/SelfieWarsIcon.png">
	<p class="headerText">Selfie Wars</p>	
</div>

<!-- Text box with photo button -->
	<!-- Text Description -->
<div class="descriptionText"> 
	<p class="headerText">Instructions</p>
	<p class="bodyText">Launch your camera app and snap your best SELFIE!</p>
	<img src="assets/img/placeholder.jpg">
</div>

	<!-- Camera Button -->
<div>
    <button><span><i class="fa fa-camera-retro"></i></span></button>
</div>