<!-- This is the universal header -->
<div class="headerLogoText">
	<img class="logoHeader" src="assets/img/SelfieWarsIcon.png">
	<p class="logoText">Selfie Wars</p>	
</div>

<!-- Text box with photo button -->
	<!-- Text Description -->
<div class="descriptionText"> 
	<img src="assets/img/placeholder.jpg" class="snapExample">
	<p class="snapBodyText">Launch your camera app and snap your best SELFIE!</p>
</div>

	<!-- Camera Button -->
<div class="snapDiv">
		<input id="photoUpload" class="hidden center topPadding" type="file" accept="image/*" capture="camera" onchange="uploadPhoto();"></input>
    <label for="photoUpload" id="photoButton"><span><i class="fa fa-camera-retro fa-4x snapButton"></i></span></label>
</div>