<!-- This is the universal header -->
<div class="headerLogoText">
	<img class="logoHeader" src="assets/img/SelfieWarsIcon.png">
	<p class="logoText">Selfie Wars</p>	
</div>

<!-- Voting Confirmation Page -->
<!-- Error Proofing Vote Choice -->
<div class="votingWinner">
    <label id="1" class="votePhoto"></label>
	<p class="winnerText">Is this your winner?</p>
	
<!-- Buttons -->
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default fa fa-check chooseWinnerBtn" ng-click="party.vote()">Accept</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default fa fa-times cancelWinnerBtn">Cancel</button>
    </div>
  </div>
</div>