/*Fonts*/
@font-face {
    font-family: "Passion";
    src: url(../assets/fonts/PassionOne-Bold.otf);
}
@font-face {
    font-family: "Roboto Slab";
    src: url(../assets/fonts/RobotoSlab-Regular.ttf);
}
@font-face {
    font-family: "Roboto Slab Light";
    src: url(../assets/fonts/RobotoSlab-Light.ttf);
}
@font-face {
    font-family: "Roboto Slab Thin";
    src: url(../assets/fonts/RobotoSlab-Thin.ttf);
}

/*Boxes n Things*/
.mainContainer{
    background-color:#230F2B;
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.logoLarge{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:25%;
}
.logoHeader{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    width: 18%;
}

/*Text Related Things*/
.headerLogoText{
    margin-bottom: 10px;
}
.descriptionText{
    width:100%;

}
.snapExample{
    width: 100%;
    border-radius: 50%;
    border: solid white 3px;
    margin-bottom: 2%;
}

.mainText{
    font-family: "Passion";
    font-size:50px;
    text-transform: uppercase;
    text-align: center;
    color:#82B3AE;
    margin-top:15%;
    margin-bottom: 25%;
}
.loginSubText{
    color:#82B3AE;
    font-size: 24px;
    text-transform: uppercase;
}
.challengeText{
    color:#230F2B;
    text-align: center;
    font-family: "Roboto Slab Light";
    background-color: #D0CAD3;
    padding:5%;
    border-radius: 18px;
    width:94%;
    margin-left: auto;
    margin-right: auto;
}
.headerText{
    font-size:22px;
    border-bottom: solid black 1px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.bodyText{
    font-size:20px;
    margin-left: auto;
    margin-right: auto;
}
.snapBodyText{
    text-align: center;
    font-family: "Roboto Slab Thin";
    font-size:22px;
    margin-top: 5%;
    margin-bottom:5%;
}
.prizeText{
    font-family: "Roboto Slab";
    font-size: 26px;
}
.logoText{
    text-align: center;
    font-size: 22px;
    font-family: "Passion";
    color:#82B3AE;
    text-transform: uppercase;
}
.versusText{
    font-family: "Passion";
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}
.winnerText{
    font-family: "Roboto Slab Thin";
    font-size:24px;
    margin-top: 10%;
    margin-bottom:10%;
}

/*Buttons*/

#twitter-signin-btn{
    font-size: 96px;
    color:#FFF;
}
.twitterLogin{
    text-align: center;
    font-family: "Passion";
}
.buttonPost{
    background: #639755;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    border-radius: 13px;
    color:white;
}
.buttonVote{
    background: #245563;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    border-radius: 13px;
    color:white;
}
.snapButton{
    background: #639755;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    border-radius: 13px;
    width:300px;
    height:80px;
    text-align: center;
    padding:10px;
    margin-top: 5%;
    cursor: pointer;
}
.loginButton{
    background-color: #82B3AE;
    color:#230F2B;
    font-family: "Roboto Slab";
    font-size: 20px;
    text-align: center;
    width:40%;
    margin-left: 4%;
}
.registerButton{
    background-color: coral;
    color:#230F2B;
    font-family: "Roboto Slab";
    font-size: 20px;
    text-align: center;
    width:40%;
    margin-right: 4%;
}

/*Odds and Ends*/

.snapDiv{
    text-align: center;
}

body{
    color:white;
}
.versusBox{
    width:100%;
    height: 50px;
    background-color:#82B3AE;
    text-align: center;
    position: absolute;
    margin-top:-10%;
    z-index: 1000;
}
.votingWinner{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
    margin-top: 10%;
}

/*Leaderboard Related Things*/

.tablePhoto{
    border: solid white 2px;
    padding: 5px;
    width:20%;
}
.tableText{
    border: solid white 2px;
    padding: 2px;
    font-family: "Roboto Slab Light";
    font-size: 16px;
    text-align: center;
    width:30%;
}
.leaderBoardTitle{
    text-align: center;
    font-family: "Roboto Slab Thin";
    font-size: 30px;
    color:white;
    margin-top: 2%;
    margin-bottom:2%;
    text-transform: uppercase;
}


/*Shenanigans*/

.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.infoBox{
    border-radius: 13%;
    font-family: "Roboto Slab";
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.loginForm{
    margin-top:-8%;
}
.registerForm{
    margin-top:-15%;
}
.votePhoto{
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: solid white 3px;
    height:218px;
    width: 218px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;

    background-image:url(images/arrowup.png) ;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
}
.chooseWinnerBtn{
    width:175px;
    height:100px;
    border:solid darkgreen 2px;
    background-color: green;
    border-radius: 10px;
    color:white;
    margin-right: 10%;
    font-size: 20px;
    text-align: center;
    display: inline-block;

}
.cancelWinnerBtn{
    width:175px;
    height:100px;
    border:solid darkred 2px;
    background-color: red;
    border-radius: 10px;
    margin-left: 10%;
    color:white;
    font-size: 20px;
    text-align: center;
    display: inline-block;
}
.shrinkPhoto{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
#0{
    margin-top: 5%;
}
#1{
    
}